@import "./constants.scss";

.Container {
  display: block;
  height: 3.5rem;
  width: 100%;
  padding: 0.25em;
  background-color: $dark;

  @media (prefers-color-scheme: dark) {
    background-color: $light;
  }
}

.NavMenu {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 3.4rem;
  margin-left: 1px;
  margin-right: 1px;
  width: 25%;
  max-width: 230px;
  background-color: $dark;
  display: flex;
  flex-direction: column;

  .Item {
    text-align: center;
    padding: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $light;
  }

  @media screen and (min-width: $media-phone) {
    width: 100vw;
  }
}

.Button {
  background-color: $primary;
  border-radius: 0.375rem;
  &:hover {
    background-color: $primary-opacity;
  }
}
